<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Remover</title>
</head>
<body>
    <h1>Upload an Image to Remove Background</h1>
    <form action="/remove-bg" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Upload</button>
    </form>


        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRosklXXYS1V_EC1nUS0DSP_RpOb1XUc2LCGMQP7cBpo7MJ_b3DLvooltmkGyMPLi0QAwk&usqp=CAU" alt="Default Image">
</body>
</html>